
/Slappy Bird/Library
/Slappy Bird/Temp
/Slappy Bird/Logs
/Slappy Bird/Logs
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe8.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe19.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe18.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe17.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe16.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe15.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe14.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe13.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe12.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe11.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Slappy Bird/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Slappy Bird/Logs/shadercompiler-AssetImportWorker0.log
Slappy Bird/Logs/AssetImportWorker4.log
Slappy Bird/Logs/AssetImportWorker3.log
Slappy Bird/Logs/AssetImportWorker2.log
Slappy Bird/Logs/AssetImportWorker1.log
Slappy Bird/Logs/AssetImportWorker0.log
